/* nav bar design */
.topnav {
    background-color: #DBC1AC;
    overflow: hidden;
    font-family: roboto;
    font-weight: bold;

  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: black;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }


/* logo section design */  
.logo{
    width: 200px;
    height: auto;
    max-height: 400px;
        max-width: 400px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 100px;
}

.cafe-image{
    width: 100%;
}

/* about section design */

body{
    background-color: #DBC1AC;
}

.about-section {
    padding: 100px;
    text-align: center;
    color: rgb(28, 32, 37);
    font-size: x-large;
    font-family: Roboto;
  }

  a:-webkit-any-link{
    text-decoration:none !important;
    }

    * {
        box-sizing: border-box;
      }

      .row{
        padding: 10;
      }

.col{
    font-family: roboto;
    color: rgb(28, 32, 37);
    flex-direction: column;
    
}


.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }


/*location section design*/
* {
    box-sizing: border-box;
  }

  .location-title{
    padding: 5 10 20 0;
  }

  .title{
    font-size: xx-large;
  }

  .location-text{
    font-size: large;
  }

  .item {
    display: inline-block;
    padding: 100 50 100 50;
    color:rgb(28, 32, 37);
    font-family: roboto;
  }
  
  /* on PC */
  @media screen and (min-width: 550px) {
    .featured-image {
      float: left;
      width: 40%;
      padding-right: 15px;
    }
    .featured-image img {
      width: 100%;
    }
    .description {
      float: left;
      width: 60%;
    }
  }
  /* on Mobile */
  @media screen and (max-width: 550px) {
    .featured-image {
      width: 100%;
    }
    .featured-image img {
      width: 100%;
    }
    .description {
      width: 100%;
    }
  }


/* footer design */ 

.footer-logo{
    width: 100px;
    height: 100px;
}

.footer { 
    background-color: #DBC1AC;
    padding: 30px; 
    color: #000;
    font-family: roboto;
}

.footer-title { 
    font-size: 30px; 
    letter-spacing: 3px;
    color: #000;
}

.subjects { 
    display: flex;
    justify-content: space-around;
    gap: 40px; 
    margin-top: 40px; 
    flex-wrap: wrap; 
    color: #000;
}

h4{
    color: #000;
}


.hours{
    margin-top: 15px;
    color: #000;
}

.list { 
    list-style: none;
    margin-top: 12px;
    color: #000;
}

.contact-us { 
    flex-wrap: wrap; 
}
.footer-option {
    text-decoration: none;
    color: black; 
}

.footer-option:hover  {
    text-decoration: underline; 
}

.sign-up { 
    display:flex;
    flex-wrap: wrap; 
    margin-top: 10px;
}

input[class="inputsearch"] {
    border: 1px solid rgb(165, 165, 165);
    
}

button[id="signup"] { 
    background-color: rgb(103, 103, 103);
    border:  rgb(103, 103, 103);
    
}

button[id="signup"]:hover { 
    background-color: rgb(177, 177, 177);
    border:  rgb(177, 177, 177);
}

@media only screen and (max-width: 400px) { 

} 

a:-webkit-any-link{
    text-decoration:none !important;
    }

/* newsletter signup */
* {box-sizing: border-box}
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: grey;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 100%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #DBC1AC;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
