/* nav bar design */
.topnav {
    background-color: #DBC1AC;
    overflow: hidden;
    font-family: roboto;
    font-weight: bold;

  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: black;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

/* logo section */


.logo { 
    width: 150px;
    height: 150px; 
}

.ourlocation{
    color: rgb(79, 58, 58); 
    font-size: 50px;
    font-weight:bold; 
    font-family: roboto;
}

.banner { 
    padding: 40px;
    background-color: #f6f0ea;
    flex-grow: 1;
    display:flex; 
    justify-content: center; 
    align-items: center;
    gap: 20px; 
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px; 
    gap: 10px; 
    font-family: roboto;
}

.searchbarlabel { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: roboto;
    margin: 0px 0px 0px;
}

.inputsearch { 
    width: 250px; 
    height: 40px;
    margin-right: 15px; 
    outline: none;
    border: 2px solid #DBC1AC; 
    border-radius: 5px;
    padding-left: 8px;
}

.submitBtn { 
    width: 100px;
    height: 40px; 
    outline: none;
    border-radius: 5px;
    border: 1px solid #DBC1AC; 
    background-color: #DBC1AC;
    color: white; 
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBtn:hover { 
    border: 0px solid #9c8573; 
    background-color: #9c8573;
}

/* Design of each cafe card */

.locations{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 20px;
    font-family: roboto;
}

.cafecard  {
    background-color: #DBC1AC;
    width: 350px; 
    height: 475px; 
    padding: 10px 1px ;
    text-align: center;
    border-radius: 2px; 
    margin: 10px; 
}
.cafeimage { 
    width:300px; 
    height: 220px;  
}

.address { 
    padding: 10px; 
    font-size: 20px;
    color: rgb(255, 255, 255); 
}

.cafetitle { 
    font-weight: bold;
    padding: 10px; 
    color: rgb(79, 58, 58); 
}

.infoBtn { 
    width: 150px; 
    height: 50px; 
    outline: none; 
    border: 1px solid white; 
    background-color: white;
    border-radius: 5px;
    color: #DBC1AC;
    font-weight: bold;
    font-size: 15px; 
}

.infoBtn:hover { 
    border: 1px solid rgb(144, 119, 97); 
    background-color: rgb(144, 119, 97); 
}



  /* footer design */ 

.footer-logo{
    width: 100px;
    height: 100px;
}

.footer { 
    background-color: #DBC1AC;
    padding: 30px; 
    color: #000;
    font-family: roboto;
}

.footer-title { 
    font-size: 30px; 
    letter-spacing: 3px;
    color: #000;
}

.subjects { 
    display: flex;
    justify-content: space-around;
    gap: 40px; 
    margin-top: 40px; 
    flex-wrap: wrap; 
    color: #000;
}

h4{
    color: #000;
}


.hours{
    margin-top: 15px;
    color: #000;
}

.list { 
    list-style: none;
    margin-top: 12px;
    color: #000;
}

.contact-us { 
    flex-wrap: wrap; 
}
.footer-option {
    text-decoration: none;
    color: black; 
}

.footer-option:hover  {
    text-decoration: underline; 
}

.sign-up { 
    display:flex;
    flex-wrap: wrap; 
    margin-top: 10px;
}

input[class="inputsearch"] {
    border: 1px solid rgb(165, 165, 165);
    
}

button[id="signup"] { 
    background-color: rgb(103, 103, 103);
    border:  rgb(103, 103, 103);
    
}

button[id="signup"]:hover { 
    background-color: rgb(177, 177, 177);
    border:  rgb(177, 177, 177);
}

@media only screen and (max-width: 400px) { 

} 

a:-webkit-any-link{
    text-decoration:none !important;
    }

/* newsletter signup */
* {box-sizing: border-box}
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: grey;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 100%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #DBC1AC;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
